[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".hgdotfiles/hg-prompt"]
	path = .hgdotfiles/hg-prompt
	url = https://github.com/pelletier/hg-prompt.git
    ignore = all
[submodule ".ruby/rbenv/plugins/rbenv-default-gems"]
	path = .ruby/rbenv/plugins/rbenv-default-gems
	url = https://github.com/sstephenson/rbenv-default-gems.git
[submodule ".ruby/rbenv/plugins/rbenv-gem-rehash"]
	path = .ruby/rbenv/plugins/rbenv-gem-rehash
	url = https://github.com/sstephenson/rbenv-gem-rehash.git
[submodule ".ruby/rbenv/plugins/ruby-build"]
	path = .ruby/rbenv/plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule ".ruby/rbenv/plugins/rbenv-update"]
	path = .ruby/rbenv/plugins/rbenv-update
	url = https://github.com/rkh/rbenv-update.git
[submodule ".hgdotfiles/hg-git"]
	path = .hgdotfiles/hg-git
	url = https://github.com/schacon/hg-git.git
[submodule ".zshdotfiles/oh-my-zsh/plugins/virtualenv-prompt"]
	path = .zshdotfiles/oh-my-zsh/plugins/virtualenv-prompt
	url = git://github.com/tonyseek/oh-my-zsh-virtualenv-prompt.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".ruby/rbenv/plugins/rbenv-vars"]
	path = .ruby/rbenv/plugins/rbenv-vars
	url = https://github.com/sstephenson/rbenv-vars.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
