[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".hgdotfiles/hg-prompt"]
	path = .hgdotfiles/hg-prompt
	url = https://github.com/pelletier/hg-prompt.git
    ignore = all
[submodule ".ruby/rbenv/plugins/rbenv-default-gems"]
	path = .ruby/rbenv/plugins/rbenv-default-gems
	url = https://github.com/sstephenson/rbenv-default-gems.git
[submodule ".ruby/rbenv/plugins/rbenv-gem-rehash"]
	path = .ruby/rbenv/plugins/rbenv-gem-rehash
	url = https://github.com/sstephenson/rbenv-gem-rehash.git
[submodule ".ruby/rbenv/plugins/ruby-build"]
	path = .ruby/rbenv/plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule ".ruby/rbenv/plugins/rbenv-update"]
	path = .ruby/rbenv/plugins/rbenv-update
	url = https://github.com/rkh/rbenv-update.git
[submodule ".hgdotfiles/hg-git"]
	path = .hgdotfiles/hg-git
	url = https://github.com/schacon/hg-git.git
