[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
    autosetupmerge = always
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = green reverse
    new = cyan reverse
[color "status"]
    added = yellow
    changed = cyan
    untracked = red
[core]
	excludesfile = ~/.dotfiles/.gitdotfiles/.gitignore
[diff]
	submodule = log
[pull]
    default = current
[push]
	default = current 
